
  *{
    font-family: 'Poppins', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
  
  .nav-item{
    padding: 15px 20px;
  }
  .img-responsive2{
    padding-left: 10px;
  }
  .nav-link:hover {
    border-bottom: 3px solid #A26F4C;
}
.navbar{
  background-color: #F0EEE7;

}



.section-1.container-fluid{
  background-color: #F0EEE7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.waviy {
  position: relative;
  font-family:"Poppins", sans-serif ;
  font-weight: bolder;
  font-size: xx-large;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #A26F4C;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.image img {
  max-width: 50%;
  max-height:50%;
  border-radius:150px 150px 0px 0px;
  margin-left: 100px;
}

.text p {
  font-weight: 200;
  word-spacing: 2px;
  line-height: 1.8;
  margin-right: 40px;
}
.section-2.container{
  min-height: 90vh;
}
.about{
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  text-align: center;
  padding-top: 40px;
}
.btn{
  background-color: #A26F4C;
  color: aliceblue;
  border-radius: 15px;
}
.email{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
  font-weight: lighter!important;
}
.row{
  text-align: center;
  padding-bottom: 60px;
  
}
.fa-brands{
 color: #A26F4C;
}
.col-md-3 h6{
  font-weight: lighter!important;
}

