
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Nunito', sans-serif;

}
  
  .nav-item{
    padding: 15px 20px;
    
  }
  .img-responsive2{
    padding-left: 10px;
  }
  .nav-link:hover {
    border-bottom: 3px solid #A26F4C;
}
.navbar{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
}




.section-1.container-fluid{
  background-color: #F0EEE7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url("../images/DSC_0071\ 3.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px;
  background-attachment: fixed; */

}

.waviy {
  position: relative;
  font-family:"Poppins", sans-serif ;
  font-weight: bolder;
  font-size: xx-large;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 90px;
  color: black;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

.image img {
  max-width: 50%;
  max-height:50%;
  border-radius:150px 150px 0px 0px;
  margin-left: 100px;
}

.text p {
  font-weight: 200;
  word-spacing: 2px;
  line-height: 1.8;
  margin-right: 40px;
}
.section-2.container{
  min-height: 90vh;
}
.about{
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  text-align: center;
  margin-top: 100px;
}

.email{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
  font-weight: lighter!important;
}
.row{
  text-align: center;
  padding-bottom: 60px;
  
}
.fa-brands{
 color: #A26F4C;
}
.col-md-3 h6{
  font-weight: lighter!important;
  color: black;
  
}
a:link {
  text-decoration: none;
}

input[type=email],
input[type=text] {
  background: none;
  border: none;
  border-bottom: 2px solid #A26F4C;
  box-sizing: border-box;
  outline: none;
  margin-top: 70px;
}
form{
width: 70%;
}
input[type=email]:required,
input[type=text]:required {
  box-shadow: none;
  outline: none;
}
[type=submit] {
  background: #A26F4C;
  border: none;
  color: #fff;
  margin-top: 60px;
  padding: 10px 50px;
  border-radius: 20px;
}
[type=button]{
  background: #A26F4C;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 10px 50px;

}

[type=submit]:hover,
[type=submit]:focus {
  background: #c79e85;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 15px;
  animation: none;
  
}

